* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
  font-size: larger;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 100vh;
}

.m20 {
  margin: 20px;
}
